*.pyc
*.sqlite3
media/*
media/Images/*
media/Soundbox/*
Blog/static/yoda/*
media/Backgrounds/*
media/Emojis/*
media/BorderImages/*
media/Boxes/*
media/Skins/*
!media/Images/noone.png
!media/86_icon.svg