<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaire</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">

    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'Blog/inventory_2/css/inventory_2.css' %}">
    <script src="{% static 'Blog/inventory_2/js/inventory_2.js' %}"></script>
</head>
<body>
    <h1>Inventaire de l'utilisateur</h1>

    Filtrer <br>
    <select name="item type" id="item-selecter">
        <option value="all">All</option>
        {% for item_type in item_types %}
            <option value="{{item_type}}">{{item_type}}</option>
        {% endfor %}
        <option value="lootbox">lootbox</option>
    </select>

    
    <div class="inventory-container">
        <!-- Section des items non équipés -->
        <div class="non-equipped-section">
            <h2>Items non équipés</h2>
            <div class="inventory-grid">
                {% for non_equipped_item in non_equipped_items %}
                
                <div class="inventory-item" data-id="{{ non_equipped_item.item_id }}" data-name="{{ non_equipped_item.name }}" data-status="{{ non_equipped_item.status }}" 
                    data-date="{{ non_equipped_item.obtained_date }}" data-type="{{ non_equipped_item.type }}"
                    {% if non_equipped_item.type == 'skin' %}data-pattern="{{ non_equipped_item.pattern }}" data-skin-type="{{ non_equipped_item.skin_type }}"{% endif %}
                    {% if non_equipped_item.type == 'box' %}data-open-price="{{ non_equipped_item.open_price }}" data-skin-type="lootbox"{% endif %}>

                    <img src="{{ non_equipped_item.image }}" alt="{{ non_equipped_item.name }}">
                    <!-- <h3>{{ non_equipped_item.name }}</h3> -->
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Section des items équipés -->
        <div class="equipped-section">
            <h2>Items équipés</h2>
            <div class="inventory-grid">
                {% for equipped_item in equipped_items %}
                <div class="inventory-item" data-id="{{ equipped_item.item_id }}" data-name="{{ equipped_item.name }}" data-status="{{ equipped_item.status }}" 
                    data-date="{{ equipped_item.obtained_date }}" data-type="{{ equipped_item.type }}"
                    {% if equipped_item.type == 'skin' %}data-pattern="{{ equipped_item.pattern }}" data-skin-type="{{ equipped_item.skin_type }}"{% endif %}
                    {% if equipped_item.type == 'box' %}data-open-price="{{ equipped_item.open_price }}"{% endif %}>

                    <img src="{{ equipped_item.image }}" alt="{{ equipped_item.name }}">
                    <!-- <h3>{{ equipped_item.name }}</h3> -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Menu contextuel caché par défaut -->
    {% csrf_token %}
    <div id="context-menu" class="context-menu">
        <ul>
            <li id="info-option">Infos</li>
            <li id="sell-option" class="disabled" style="display: none;">Vendre</li>
            <li id="trade-option" class="disabled" style="display: none;">Échanger</li>
            <li id="equip-option" style="display: none;"></li>
            <li id="open-option" style="display: none;">Ouvrir</li>
        </ul>
    </div>

    <!-- Flou de fond -->
    <div class="blur-background" id="blur-background"></div>

    <!-- Modale pour afficher les informations de l'item -->
    <div id="info-modal" class="info-modal">
        <div class="modal-content">
            <h2>Informations sur l'item</h2>
            <p id="item-info"></p>
        </div>
    </div>

    <a href="/" style="position:absolute; bottom:5%; left:1%; color:antiquewhite;">HOME</a>
    {% comment %} <a href="/lootbox/get" style="position:absolute; bottom:2%; left:1%; color:antiquewhite;">Get Lootbox</a> {% endcomment %}

</body>
</html>
