<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Background</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    <!-- CSS -->
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/utils.css' %}">

    <script src="{% static 'Blog/inventory/js/bg.js' %}" type="module"></script>
</head>

<body>

    {% include "Blog/layout/base.html" %}



    <form action="" method="post" id="bg_form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ bg_form }}
        <button type="submit">Envoyer</button>
    </form>

</body>