<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaire</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">

    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'Blog/inventory/css/inventory.css' %}">
    <script src="{% static 'Blog/inventory/js/inventory.js' %}" type="module"></script>
    <script src="{% static 'Blog/inventory/js/autocomplete.js' %}" type="module"></script>
    <script src="{% static 'Blog/inventory/js/sell.js' %}" type="module"></script>

</head>
<body>
    <div class="blurred-background"></div>
    <!-- Conteneur pour le titre, la barre de recherche et le bouton de filtre -->
    <div class="inventory-header">
        <h1>Inventaire</h1>

        <!-- Barre de recherche avec auto-complétion -->
        <div class="search-container">
            <i id="clear-filter" class="fas fa-times clear-filter" style="display: none;"></i> <!-- Icône FontAwesome -->
            <input type="text" id="search-bar" class="search-bar" placeholder="Filtrer les items...">
            <div id="autocomplete-list" class="autocomplete-items" style="display: none;"></div>
        </div>
    </div>

    <div class="inventory-grid">
        <!-- Boucle pour tous les items mélangés -->
        {% for item in items %}
        <div class="inventory-item" data-id="{{ item.item_id }}" data-name="{{ item.name }}" data-favorite="{{ item.favorite }}" 
             data-date="{{ item.obtained_date }}" data-type="{{ item.type }}" data-equipped="{{ item.equipped }}"
             {% if item.type == 'skin' %}data-pattern="{{ item.pattern }}" data-skin-type="{{ item.skin_type }}"{% endif %}
             {% if item.type == 'box' %}data-open-price="{{ item.open_price }}"{% endif %}>

            <img src="{{ item.image }}" alt="{{ item.name }}">
            <!-- <h3>{{ item.name }}</h3> -->
        </div>
        {% endfor %}
    </div>

    <!-- Menu contextuel caché par défaut -->
    {% csrf_token %}
    <div id="context-menu" class="context-menu">
        <ul>
            <!-- Tous les items ont ces options -->
            <li id="info-option">Infos</li>
            <li id="sell-option" style="display: none;">Vendre</li>
            <li id="trade-option" class="disabled" style="display: none;">Échanger</li>
            
            <!-- Spécifique aux skins -->
            <li id="favorite-option" style="display: none;"></li>
    
            <!-- Spécifique aux boîtes -->
            <li id="open-option" style="display: none;">Ouvrir</li>

            <!-- Spécifique aux emojis et backgrounds -->
            <li id="use-option" style="display: none;">Utiliser</li>
            
        </ul>
    </div>

    <!-- Sell popup -->
    <div id="sell-popup" class="popup" style="display:none;">
        <div class="popup-content">
            <span id="close" class="close">&times;</span>
            <h2 id="item-name"></h2>
            <p><strong>Pattern :</strong> <span id="item-pattern"></span></p>
            <p><strong>Prix :</strong> <input type="number" id="price" name="price" min="0" step="1" /> </p>
            
            <button id="sell">Confirmer la mise en vente</button>
        </div>
    </div>




    <!-- Flou de fond -->
    <div class="blur-background" id="blur-background"></div>

    <!-- Modale pour afficher les informations de l'item -->
    <div id="info-modal" class="info-modal">
        <div class="modal-content">
            <h2>Informations sur l'item</h2>
            <p id="item-info"></p>
        </div>
    </div>

   
    <a href="/" style="position:absolute; bottom:5%; left:1%; color:antiquewhite; " >HOME</a>
    <a href="/lootbox/get" style="position:absolute; bottom:2%; left:1%; color:antiquewhite; " >Get Lootbox</a>

</body>
</html>
