<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{session.session_name}}</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <!-- CSS -->
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/utils.css' %}">

    <!-- JS -->
    <script src="{% static 'Blog/chat/js/index.js' %}" type="module"></script>
    <script src="{% static 'Blog/chat/js/yoda.js' %}"></script>
    <script src="{% static 'Blog/chat/js/badger.js' %}" type="module"></script>
    <script src="{% static 'Blog/js/send_ctrl_enter.js' %}"></script>

</head>

<body>

    {{text_color}}
    <div id="items" text-color="{{text_color}}" border-color="{{border_color}}"></div>


    <div class="enjoy" id="enjoy">
        <a href="http://www.quelleheureestilenjoy.com/" target="_blank">
            <img src="{% static 'img/Enjoy/enjoy_aled.png' %}" width="300"/>
            
        </a>
    </div>

    <div class="yoda_img" id="yoda">
        <img src="{% static 'img/yoda.png' %}" width="150"/>
    </div>



    <div id="yoda_sounds" style="display: None;">{{yoda_sounds}}</div> 
    <audio id="audio-player" controls style="display:none;">
        <source id="audio-source" src="" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>


    <div class="tkt" style="position:fixed; cursor:pointer;">
        <a href="/tkt/?session={{session.id}}">
            <img src="{% static 'img/clique.png' %}" width="150" onclick="clique_tkt()"/>
        </a>
    </div>


    
    <div class="container" id="{{session.id}}">
        <header>
            <h1>{{session.session_name}}</h1>
        </header>

        <main>
            <section class="messages-section">

                <h2>Messages</h2>
                <div id="load-more-container">
                    <button id="load-more" data-next-page="{{ page_number_next }}">
                        Charger plus
                    </button>
                </div>

                <div class="messages" last-message-id="{{last_message_id}}">
                    {% for message in messages %}
                        {% if when_new_date|slice:forloop.counter|last %}
                            <div class="message-date">
                                <strong>{{ day|slice:forloop.counter|last }} {{ month|slice:forloop.counter|last }} {{ years|slice:forloop.counter|last }}</strong>
                            </div>
                        {% endif %}
                        
                        {% if message.writer.username == user.username %}
                        <div class="message">
                            <div class="message-content {{message.color}}">
                                <span class="message-meta">
                                    <i>{{message.pub_date}}</i> 
                                    <strong><span class="name"><a href="/user/{{message.writer.id}}">{{message.writer.username}}</a></span></strong>
                                </span>
                                <p>{% autoescape off %}{{message.text|linebreaks}}{% endautoescape %}</p>
                            </div>
                            <a href="/user/{{message.writer.id}}" class="user-avatar">
                                <img src="{{ message.writer.image.image.url }}" alt="{{ message.writer.image.image.name }}" style="margin-left: 21%;">
                            </a>
                        </div>
                        {% else %}
                        <div class="message">
                            <a href="/user/{{message.writer.id}}" class="user-avatar">
                                <img src="{{ message.writer.image.image.url }}" alt="{{ message.writer.image.image.name }}">
                            </a>

                            <div class="message-content {{message.color}}">
                                <span class="message-meta">
                                    <i>{{message.pub_date}}</i> 
                                    <strong><span class="name"><a href="/user/{{message.writer.id}}">{{message.writer.username}}</a></span></strong>
                                </span>
                                <p>{% autoescape off %}{{message.text|linebreaks}}{% endautoescape %}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if user is not None %}
                    <div class="user-info">
                        Connecté en tant que <span class="name">{{user.username}}</span>.
                    </div>
                {% endif %}
            </section>

            <section class="message-form-section">
                <form action="" method="post" id="message_form">
                    {% csrf_token %}
                    {{ MessageForm }}
                    <button type="submit">Envoyer</button>
                </form>
            </section>

            <section class="poll-section">
                <div class="poll-container">
                    <h3>Sondage du jour :</h3>
                    <p class="poll-question">{{sondage.question}}</p>
                    
                    <div class="poll-options">
                        {% for choice in choices %}
                            <a href="/sondages/vote/{{choice.sondage.id}}/{{choice.id}}">
                                <div class="poll-option{% if choice == vote %} my_vote{% endif %}">                              
                                    {{choice.choice}}
                                
                                <span class="poll-votes">{{choice.votes}} {% if choice.votes > 1 %}votes{% else %}vote{% endif %}</span>
                                
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </section>
        
        </main>

        <footer>
            <a href="/stats/{{session.id}}">Statistiques</a> | <a href="/">Home</a> | <a href="/list_sounds">Paramètres de la Soundbox</a>
        </footer>
    </div>
  <div id="bottom"></div>

</body>

</html>
