<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Récit</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/recits/css/recits.css' %}">
    <script src="{% static 'Blog/js/bg.js' %}" type="module"></script>
    {% include "../bg.html" %}

</head>
<body>

<h1>{{recit.name}}</h1>
<br><br>
<h2>Votre récit : </h2>
<br><br>

{% if not texts %} Votre histoire n'a de limite que par votre imagination ! 
    {% else %} 
<ul class="timeline">
    {% for text in texts %}
    <li class="timeline-item {% cycle 'left' 'right' %}">
        <h3><a href="/user/{{text.user.id}}">{{ text.user }}</a></h3>
        <p>{{ text.text|linebreaks }}</p>
    </li>
    {% endfor %}
</ul>
{% endif %}



<br><br>
{% if is_last_writer %} Vous venez déjà d'écrire dans cette histoire. <br>
Attendez que quelqu'un prolonge votre récit avant d'y participer à nouveau ! 
{% else %}
Participez à la création de l'histoire ! 
<form method="post" id="form">
    {% csrf_token %}

    {{ form.as_p }}
            
    <button type="submit">Envoyer</button>
</form>

{% endif %}
<div id="bottom"></div>
<br><br><br><br>
<a href="/recits/" style="margin: 20px;"><i class="fa-solid fa-chevron-left"></i>Retour à la liste des récits</a>

</body>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Sélectionne le textarea
        var textarea = document.querySelector('textarea[name="message"]');
        
        // Ajoute un écouteur d'événements pour capturer "Ctrl + Enter"
        textarea.addEventListener('keydown', function (e) {
            if (e.ctrlKey && e.key === 'Enter') {
                e.preventDefault(); // Empêche le saut de ligne par défaut
                document.getElementById('form').submit(); // Soumet le formulaire
            }
        });
    });
</script>