<!-- templates/ticket_list.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recits List</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
</head>



<body>
    <h1>Récits déjà commencés</h1>
    <br>
    <a href="/recits/create/">Initier un nouveau récit ...</a>
    <br><br>
    <ul>
        {% for recit, nb_textes in recits %}
        <li><a href="/recits/detail/{{ recit.pk }}">[{{ recit.name }}]</a> ({{nb_textes}} {% if nb_textes >= 2 %}textes{% else %}texte{% endif %})
           </li>
        {% endfor %}

    </ul>
    <br><br><br>
    <a href="/">Back to Home</a>
</body>
</html>
