

.change_homepage_preference {
    display: flex;
    align-items: center;    /* centre VERTICALEMENT */
    justify-content: center;/* centre HORIZONTALEMENT (optionnel) */

    position: absolute;
    top: 75%;
    height: auto;
    width: 15%;
    background-color: rgba(250, 235, 215, 0.8);
    border-radius: 10px;
    padding: 10px;
    z-index: 3;
    left: 2%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);

    transition: left 0.3s ease, top 0.3s ease, height 0.3s ease, width 0.3s ease, background-color 0.3s ease;
}


.change_homepage_preference:hover {
    background-color: rgb(250, 235, 215, 0.9);
    width: 17%;
    left: 1%;
}

.change_homepage_preference:active {
    background-color: rgb(250, 235, 215, 1);
    width: 15%;
    left: 2%;
}
