.name {
    text-transform: capitalize;
}

.name a {
    color: #121212;
}

.name a:hover {
    color: #5882db6c;
}

.feature {
    color: #8e98f6;
}

.fix {
    color: #f393ae;
}

.bottom {
    position: fixed;
    bottom: 20px;
}
