<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDV</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">

    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/hdv/css/hdv.css' %}">

    
    <script src="{% static 'Blog/hdv/js/hdv.js' %}" type="module"></script>
    
    {% load custom_filters %}
</head>
{% csrf_token %}

<body>

    <div id="user" user="{{user}}"></div>

    <h1>Hôtel des Ventes</h1>
    <br><br>
    
    

    <div class="container">
        <!-- Column for Selling Items -->
        <div class="selling-items">
            <h2>Articles en Vente</h2>
            <ul>
                {% for item in selling_items %}
                    <li class="item" style="cursor:pointer;" skin-type="{{item.type}}" price="{{item.price}}" seller="{{item.seller}}" pattern="{{item.pattern}}" item_id="{{item.item_id}}" market_id="{{item.market_id}}">
                        {{item.price}}$ -  {{item.type}} | <img id="img-{{item.item_id}}" src="{{item.url}}" width="25" height="25" style="display:none;">
                        <span class="color-circle" id="color-circle-{{item.item_id}}"></span>
                        <a id="pattern-{{item.item_id}}" style="font-family: '{{item.pattern}}'; color: #feefeb;">{{item.pattern}}</a>            
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Column for Your Items -->
        <div class="your-items">
            <h2>Vos Articles</h2>
            <ul>
                {% for item in your_items %}
                    <li class="item" style="cursor:pointer;" skin-type="{{item.type}}" price="{{item.price}}" seller="{{item.seller}}" pattern="{{item.pattern}}" item_id="{{item.item_id}}" market_id="{{item.market_id}}">
                        {{item.price}}$ -  {{item.type}} | <img id="img-{{item.item_id}}" src="{{item.url}}" width="25" height="25" style="display:none;">
                        <span class="color-circle" id="color-circle-{{item.item_id}}"></span>
                        <a id="pattern-{{item.item_id}}" style="font-family: '{{item.pattern}}'; color: #feefeb;">{{item.pattern}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>




    <!-- Menu d'achat caché -->

    <div id="popup" class="popup" style="display:none;">
        <div class="popup-content">
            <span id="close" class="close">&times;</span>
            <h2>Détails de l'achat</h2>
            <p><strong>Item :</strong> <span id="item-skin"></span></p>
            <p><strong>Vendeur :</strong> <span id="seller-name"></span></p>
            <p><strong>Prix :</strong> <span id="item-price"></span></p>
            <p><strong>Pattern :</strong> <span id="item-pattern"></span></p>
            <button id="buy">Confirmer l'achat</button>
            <button id="remove">Retirer de la vente</button>
        </div>
    </div>
    

</body>