<head>
    <meta charset="utf-8" />

    <title>{{session.session_name}}</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
        rel="stylesheet"
        type="text/css" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    
    {% include "Blog/layout/base.html" %}


</head>
<body>

    Photo actuelle : <img src="{{ user.image.image.url }}" alt= "{{ user.image.image.name }}" width="300" height="300">
    </br></br></br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    
    <a href="/user/{{user.id}}">Profil</a> <br>
    <a href="/">Home</a>
</body>