<!doctype html>
<html>
<head>
  <meta charset="utf-8" />

  <title>{{session.session_name}}</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
    rel="stylesheet"
    type="text/css" />
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'Blog/css/utils.css' %}">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'Blog/user/js/slider.js' %}"></script>

  {% include "Blog/layout/base.html" %}

</head>


<a href="/">HOME</a>


<h1>Profil de <span class="name">{{viewed_user.username}} </span></h1>
{% if user == viewed_user %} <span id="ouvrirFormulaire" style="color: blue; cursor: pointer;">✏️</span>{% endif %}
<h2>{{answer}}</h2>

<div id="formContainer" style="display: none;">
  <form action="" method="post" id="monFormulaire">
      {% csrf_token %}
      
      {{ form }}
      <button type="submit">Envoyer</button>
  </form>
</div>

<div id="fieldsContainer" style="display: block;">
<ul>
    <li><u>Prénom</u> : {{viewed_user.first_name}} </li>
    <li><u>Nom</u> : {{viewed_user.last_name}} </li>
    <li><u>Mail</u> : {{viewed_user.email}} </li>
</ul>
</div>
<br>
Mot les plus utilisés : <br>
{% for word, nb in words %}
<ol>  
    <li>{{forloop.counter}} - <strong><a href="/user/{{viewed_user.id}}/messages/{{word}}">{{word}}</a></strong> ({{nb}})</li>
</ol>
{% endfor %}
<br>
Karma moyen : {{mean_karma}}
<br><br>

<a href="/user/{{viewed_user.id}}/messages#bottom">Voir les messages de {{viewed_user.username}}</a>
<br>
{% if is_bot %}
  <a href="/bot/{{viewed_user.id}}/chat">Discuter avec le bot</a>
{% endif %}
<br><br>
{% if user == viewed_user %}
<a href = "/change_photo">Changer sa photo de profil</a>
{% endif %}
<br><br>



<script src = "{% static 'Blog/user/js/modify_info.js' %}"></script>



A écrit {{n_messages}} messages
<br><br>

<input type="range" id="slider" min="1" max="7" value="1" step="1"> Moyenner sur une fenêtre glissante de <span id="slider_value">1</span>
<br>
<div style="background-color: rgba(131,106,83,0.8); text-align: center; display:inline-block; margin-left: 12px;" >
  <img src="data:image/png;base64,{{ plot|safe }}" style="display:block" id="graph" viewed_user="{{viewed_user}}">
</div>

<br><br>
<h2><u>Photo de profil</u> : </h2> <br>
<img src="{{ viewed_user.image.image.url }}" alt= "{{ viewed_user.image.image.name }}" width="300" height="300">

<!-- 
<h3>Messages écris par {{viewed_user}} : </h3>

<ul>
  {% for message in messages %}
    <li>{{message.text}}</li>
  {% endfor %}
</ul> -->