<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste Jeux</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    <!-- CSS -->
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/jeux/css/list_jeux.css' %}">
    <script src="{% static 'Blog/js/bg.js' %}" type="module"></script>
    <script src="{% static 'Blog/jeux/js/list_jeux.js' %}" type="module"></script>
    {% load leaderboard_tags %}
    {% include "../bg.html" %}
</head>

<body>

    <h1>Liste des jeux accessibles</h1>
    
    <br>
    <ol>
        {% for jeu in liste_jeux %}
            <li>
                <span class="show_leaderboard" name="{{jeu}}" style="cursor:pointer;">&#x1F3C6;</span> <a href="{{jeu}}">{{jeu}}</a>
            </li>
        {% endfor %}
    </ol>
    
    {% comment %} Leaderboards Flex {% endcomment %}
    <div class="leaderboard" name="Flex">{% render_leaderboard scores.Flex "Flex" %}</div>
    <div class="leaderboard" name="Tracker" style="display:none;">{% render_leaderboard scores.Tracker "Tracker" %}</div>


    <a href="/" style="position:absolute; bottom:15px;">HOME</a>

</body>
