.container {
    display: flex;
    gap: 20px;
    padding-top: 3%;
}


.item {
    transition: margin-left 0.3s ease;
    margin-left: 10px;
}

.item:hover {
    margin-left: 20px;
}

.selling-items {
    flex: 3;
    background-color: #e2c0c072;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.your-items {
    flex: 1.5;
    background-color: #e2c0c072;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #f7e5e5;
    margin-bottom: 15px;
}

.item-card {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
}

.item-card h3 {
    color: #7a6969;
    margin-bottom: 5px;
}

.item-card p {
    color: #f5e4e4;
    font-size: 0.9em;
}

.item-card:last-child {
    border-bottom: none;
}


/* Styles de la popup */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none; /* Cacher par défaut */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5cb9a96;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Style pour le cercle en haut à gauche */
.color-circle {
    position: relative;
    top: 5px;
    left: 1px;
    padding-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff; /* Optionnel : bordure blanche pour plus de visibilité */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ombre légère pour l'effet de relief */
}


.coin {
    padding-left: 1%;
}


.remove-all-button {
    background-color: #f5cb9a96;
    color: ivory;
    border-radius: 4px;
    padding: 4px;
    margin-left: 20px;
}

.remove-all-button:hover {
    background-color: #f2c38d96;
    cursor: pointer;
}


.remove-all-button:active {
    background-color: #f4be8296;
}


.remove-item-icon {
    font-size: 24px;
    font-weight: none;
    transition: text-shadow 0.3s ease;
    margin-left: 10px;
}

.remove-item-icon:hover {
    cursor: pointer;
    text-shadow: 0 0 4px currentColor;

}


.history-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-left: 25%;
    margin-bottom: 30px;
}

.history-content {
    flex: 9;
    width: 50%; /* Ajuste la largeur selon tes besoins */
    background: url('/static/img/panneau.png');
    background-size: 100% auto; /* Étire en largeur, hauteur auto pour répétition */
    border-radius: 10px;
}


.history-pages {
    flex: 1;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.history-title {
    padding: 5px;
    margin: 5px;
}


.history-container ul {
    padding-left: 25px;
    /* list-style-position: inside; */
}

.history-container li {
    list-style: none;
}


.history-container .buy {
    color: ivory;
    background-color: rgba(214, 93, 93, 0.378);
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: 6px;
}


.history-container .sell {
    color: rgb(69, 66, 65);
    background-color: rgba(221, 118, 58, 0.316);
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: 6px;

}


.previous-page {
    margin-right: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.previous-page:active {
    opacity: 50%;
}

.next-page {
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.next-page:active {
    opacity: 50%;
}
