<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>{{session.session_name}}</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet"
      type="text/css" />
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href='{% static "css/get_session.css" %}'/>
    <link rel="stylesheet" href='{% static "css/utils.css" %}'/>

  </head>




<div class="container">
    
  <div class = 'colonne gauche'>
    
    <h1>Rejoindre une session de discussion. </h1> 
    <br>

    <canvas id="canvas2" style="border:0px solid #000000;" onmousemove="get_mouse_pos(event)" width="580" height="500"></canvas>
      <script src = "{% static 'js/network.js' %}"></script>


    <div class="bottom">
      <h3>Connecté en tant que <span class='name'><u><a href="/user/{{user.id}}" style="text-decoration:none; color:inherit">{{ user }}</a></u></span></h3>

      {% if user.is_staff %}
        <a href = "/admin">Acceder à l'admin</a>
      {% endif %}
      <a href = "/change_photo">Changer sa photo de profil</a>
      <a href = "/logout/">Déconnexion</a>
    </div>
  </div>

  <div class = 'colonne droite'>
    <h3>Sessions disponibles : </h3>
    <br><br>

    {% for session in sessions %}
      <li><a href = "./{{session.id}}/#bottom">{{session.session_name}}</a></li>  
    {% endfor %}
    <br><br>
 
    <h3>Acceder aux tickets</h3>
    <a href = "/tickets/">Tickets</a>

    <br><br>

    {% if user.is_staff %}
      <h3>Accéder aux sondages</h3>
      <a href = "/sondages/">Sondage</a>

      <br><br>
    {% endif %}

    <br><br><br><br>
    <h3>Contribuez au site !</h3>
    <a href="https://github.com/PiRom1/MyBlog" target="_blank">GitHub</a>


  </div>
</div>