
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>{{session.session_name}}</title>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet"
      type="text/css" />
    
      {% load static %}
    <link rel="stylesheet" href='{% static "Blog/style.css" %}'/>    

  </head>


<body>
<h1><u>{{session.session_name}}</u></h1>

<!-- Canvas où le cercle sera dessiné -->
<canvas id="canvas2" width="800" height="700" style="border:0px solid #000000;" onmousemove="get_mouse_pos(event)"></canvas>

<!-- Script JavaScript pour dessiner le cercle -->
<script src = "{% static 'Blog/network.js' %}"></script>




<h2>Messages : </h2>

<div class = messages>
<ul>
    {% for message in messages %}
      
  
    {% if when_new_date|slice:forloop.counter|last %}
    <br>
    
      <div class="first_date">
        <strong><u>{{ day|slice:forloop.counter|last }} {{ month|slice:forloop.counter|last }} {{ years|slice:forloop.counter|last }}</u></strong> : 
      </div>
    {% endif %}
        
     
          
    <img src="{{ message.writer.photo.url }}" alt= "{{ message.writer.photo.name }}" width="50" height="50">
          <div class = "{{message.color}}">
          <div class="{% if message.writer.username == user.username %}left{% else %}right{% endif %}">
            <i>({{message.pub_date}})</i> <span class = author><strong>{{message.writer.username}}</strong></span> :
            <!-- <a href = "/modify/{{message.id}}" style="text-decoration:none">--> <div class = message>{{message.text}}</div> </a>
          </div>
          </div>
        
        

           <!--
                &nbsp; &nbsp &nbsp; ( {{message.upvote}}  <a href = "/upvote/{{message.id}}">&#x1F44D;</a> )
                       
                &nbsp; &nbsp &nbsp; ( {{message.downvote}}  <a href = "/downvote/{{message.id}}">&#128078;</a> ) 
      -->
      <br><br>
    {% endfor %}

</ul>
</div>



{% if user is not None %}
    Connecté en tant que {{user}}.
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    
    {{ MessageForm }}
    <input type="submit" value="Envoyer">
</form>

<br>






<br>
<br>
<br>

<!-- <a href = "/add_user/">Add new user</a>,  -->
<a href = "/logout/">Déconnexion</a>, 
<a href = "/">Change session</a>
<!-- <a href = "/logout/">Log out</a> -->

<div id="bottom"></div>

<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>


</body>


