<h1>Messages : </h1>

<ul>
    {% for message in messages %}
        
        
        <li>({{message.pub_date}}) {{message.writer.username}} : {{message.text}}    
            &nbsp; &nbsp &nbsp; ( {{message.upvote}}  <a href = "/upvote/{{message.id}}">&#x1F44D;</a> )
            &nbsp; &nbsp &nbsp; ( {{message.downvote}}  <a href = "/downvote/{{message.id}}">&#128078;</a> )   </li>
               
        
    {% endfor %}
</ul>


{% if user is not None %}
    Connecté en tant que {{user}}.
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    
    {{ MessageForm }}
    <input type="submit" value="Envoyer">
</form>


<br>
<br>
<br>

<a href = "/add_user/">Add new user</a>, <a href = "/connexion/">Connexion</a> 



