<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{session.session_name}}</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <!-- CSS -->
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <h1>{{session.session_name}}</h1>
        </header>

        <main>
            <section class="messages-section">
                <h2>Messages</h2>

                <div class="messages">
                    {% for message in messages %}
                        {% if when_new_date|slice:forloop.counter|last %}
                            <div class="message-date">
                                <strong>{{ day|slice:forloop.counter|last }} {{ month|slice:forloop.counter|last }} {{ years|slice:forloop.counter|last }}</strong>
                            </div>
                        {% endif %}
                        
                        {% if message.writer.username == user.username %}
                        <div class="message">
                            <div class="message-content {{message.color}}">
                                <span class="message-meta">
                                    <i>{{message.pub_date}}</i> 
                                    <strong><span class="name"><a href="/user/{{message.writer.id}}">{{message.writer.username}}</a></span></strong>
                                </span>
                                <p>{% autoescape off %}{{message.text|linebreaks}}{% endautoescape %}</p>
                            </div>
                            <a href="/user/{{message.writer.id}}" class="user-avatar">
                                <img src="{{ message.writer.image.image.url }}" alt="{{ message.writer.image.image.name }}" style="margin-left: 21%;">
                            </a>
                        </div>
                        {% else %}
                        <div class="message">
                            <a href="/user/{{message.writer.id}}" class="user-avatar">
                                <img src="{{ message.writer.image.image.url }}" alt="{{ message.writer.image.image.name }}">
                            </a>

                            <div class="message-content {{message.color}}">
                                <span class="message-meta">
                                    <i>{{message.pub_date}}</i> 
                                    <strong><span class="name"><a href="/user/{{message.writer.id}}">{{message.writer.username}}</a></span></strong>
                                </span>
                                <p>{% autoescape off %}{{message.text|linebreaks}}{% endautoescape %}</p>
                            </div>
                        </div>
                        {% endif %}

                    {% endfor %}
                </div>

                {% if user is not None %}
                    <div class="user-info">
                        Connecté en tant que <span class="name">{{user.username}}</span>.
                    </div>
                {% endif %}
            </section>

            <section class="message-form-section">
                <form action="" method="post" id="message_form">
                    {% csrf_token %}
                    {{ MessageForm }}
                    <button type="submit">Envoyer</button>
                </form>
            </section>

            <section class="poll-section">
              <div class="poll-container">
                  <h3>Sondage du jour :</h3>
                  <p class="poll-question">{{sondage.question}}</p>
                  
                  <div class="poll-options">
                      {% for choice in choices %}
                          <a href="/sondages/vote/{{choice.sondage.id}}/{{choice.id}}">
                            <div class="poll-option{% if choice == vote %} my_vote{% endif %}">                              
                                {{choice.choice}}
                              
                              <span class="poll-votes">{{choice.votes}} {% if choice.votes > 1 %}votes{% else %}vote{% endif %}</span>
                            
                            </div>
                          </a>
                      {% endfor %}
                  </div>
              </div>
          </section>
          
        </main>

        <footer>
            <a href="/stats/{{session.id}}">Statistiques</a> | <a href="/">Home</a>
        </footer>
    </div>
  <div id="bottom"></div>
</body>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Sélectionne le textarea
        var textarea = document.querySelector('textarea[name="message"]');
        
        // Ajoute un écouteur d'événements pour capturer "Ctrl + Enter"
        textarea.addEventListener('keydown', function (e) {
            if (e.ctrlKey && e.key === 'Enter') {
                e.preventDefault(); // Empêche le saut de ligne par défaut
                document.getElementById('message_form').submit(); // Soumet le formulaire
            }
        });
    });
</script>


</html>
