{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Diplo{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    <!-- CSS from list_jeux design (adapted for background and text style) -->
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/journal.css' %}">
    <!-- Background design script -->
    <script src="{% static 'Blog/js/bg.js' %}" type="module"></script>
    <script src="{% static 'Blog/js/journal.js' %}" type="module"></script>
    {% include "../bg.html" %}
    {% include "Blog/layout/journal.html" %}
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    

    



</body>
</html>