<!-- templates/create_ticket.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Sondage</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Create Sondage</h1>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}
        {{ choice_forms.management_form }}
        
        {% for choice_form in choice_forms %}
        {{ choice_form.as_p }}
    {% endfor %}
        
        <button type="submit">Create</button>
    </form>
    <div class="bottom">
        <a href="/sondages/" style="margin: 20px;"><i class="fa-solid fa-chevron-left"></i>Back to Ticket List</a>
    </div>
</body>
</html>
