.rainbow {
	position: relative;
	z-index: 0;
    width:100%;
	--Background: linear-gradient(5deg,#F00, #CF0, #0F6, #03F, #C0F,
										#F00, #CF0, #0F6, #03F, #C0F,
										#F00, #CF0, #0F6);
	--Position: 98% 0%;
}

.rainbow:before, .rainbow:after {
	content: '';
	border-radius: 10px;
	position: absolute;
	left: -2px;
	top: -2px;
	background: var(--Background);
	background-size: 1100%;
	width: calc(100% + 5px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 15s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: var(--Position);
	}
}

.rainbow:after {
	filter: blur(20px);
}