body {
  background: grey;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100% !important;
}

#openCase {
  float: none;
  margin: 0 auto;
  margin-top: 15%;
}

.copenbtn:focus, .copenbtn:active {
  outline: none !important;
  box-shadow: none !important;
}

.caseOpeningArea {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.itemBoxAn {
  border-radius: 0px !important;
  border: none !important;
  margin-right: 5px;
  width: 200px;
  height: 150px;
  background: rgb(42, 54, 96) !important;
  position: relative;
  text-align: center;
  color: white;
}

.itemBoxAnW {
  background: rgb(101, 26, 26) !important;
}

/* Add a fadeout effect to the side of the animationAreaItems */

.animationAreaItems {
  max-width: 2000px;
  height: 150px !important;
  position: relative;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 80px;
  mask: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.animationAreaItems:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #e7cd24 ;
}

.focus-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  backdrop-filter: blur(3px);
  background-color: rgba(20, 20, 20, 0.2);
  mask: radial-gradient(circle at 50% 50%, transparent 350px, black 10%);
}

