body {
  /* background-color: #FFF6E5; */
  background: url('/static/img/wood_bg.png');
  background-size: 100vw 100vh; /* L'image prend exactement la taille de l'écran */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* L'image ne se répète pas */
  background-attachment: fixed; /* L'image reste fixe lors du défilement */
  height: 100vh; /* La page couvre toute la hauteur de l'écran */
  color: #feefeb;
  font-size: 16px;
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px); /* Appliquer le flou */
  z-index: -1; /* Derrière tout le contenu */
}


#openCase {
  float: none;
  margin: 0 auto;
  margin-top: 15%;
}

.copenbtn:focus, .copenbtn:active {
  outline: none !important;
  box-shadow: none !important;
}

.caseOpeningArea {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.itemBoxAn {
  border-radius: 0px !important;
  border: 3px solid #404040;
  margin-right: 5px;
  width: 200px;
  height: 150px;
  /* background: rgb(42, 54, 96) !important; */
  background: transparent !important;
  position: relative;
  text-align: center;
  color: white;
}
.itemBoxAn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px !important;
}

/* .itemBoxAnW {
  background: rgb(101, 26, 26) !important;
} */

/* Add a fadeout effect to the side of the animationAreaItems */

.animationAreaItems {
  max-width: 1400px;
  min-width: 1400px;
  height: 150px !important;
  position: relative;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  mask: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.animationAreaItems:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #e7cd24 ;
}

.focus-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  backdrop-filter: blur(3px);
  background-color: rgba(20, 20, 20, 0.2);
  mask: radial-gradient(circle at 50% 50%, transparent 350px, black 10%);
}

