* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    position: absolute;
    text-align: center;
    top:5%;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2d2d2d;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 70%;
    background-color: rgba(255, 254, 250, 0.4);
    padding: 20px;
    border-radius: 10px;
}

.lootbox {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.lootbox img {
    width: 200px;
    transition: transform 0.3s ease;
}

.lootbox img:hover {
    transform: scale(1.1);
}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 2px solid #555;
}

.items img {
    width: 120px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.items img:hover {
    transform: scale(1.1);
}

/* Correction ici : */
.item-container {
    position: relative;
    display: inline-block;
}

.item-container .name {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.item-container:hover .name {
    visibility: visible;
    opacity: 1;
}

.image {
    position: relative;
    padding-bottom: 15px;
    
}

.image:hover .text {
    display:block;
}

.text {
    position: absolute;
    bottom:0;
    left:0;
    display: none;
}



.button {
    position:absolute;
    bottom:10%;
    
    background-color: #ecd7afe0;
    border-radius: 100px;
    box-shadow: rgba(199, 136, 72, 0.2) 0 -25px 18px -14px inset,rgba(199, 136, 72, .15) 0 1px 2px,rgba(199, 136, 72, .15) 0 2px 4px,rgba(199, 136, 72, .15) 0 4px 8px,rgba(199, 136, 72, .15) 0 8px 16px,rgba(199, 136, 72, .15) 0 16px 32px;
    color: rgb(75, 50, 50);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}





