<!-- templates/ticket_list.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket List</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Ticket List</h1>
    <a href="/tickets/create/">Create New Ticket</a>
    <ul>
        {% for ticket in tickets %}
        {% if ticket.status == 'open' %}
            <li><a href="/tickets/update/{{ ticket.pk }}">{{ ticket.title }}</a> - <strong>{{ ticket.status }}</strong> - by {{ ticket.created_by }} - at {{ ticket.created_at }}</li>
        {% endif %}
        {% endfor %}
        {% for ticket in tickets %}
        {% if ticket.status == 'in_progress' %}
            <li><a href="/tickets/update/{{ ticket.pk }}">{{ ticket.title }}</a> - <strong>{{ ticket.status }}</strong> - by {{ ticket.created_by }} - at {{ ticket.created_at }}</li>
        {% endif %}
        {% endfor %}
        {% for ticket in tickets %}
        {% if ticket.status == 'closed' %}
            <li><a href="/tickets/update/{{ ticket.pk }}">{{ ticket.title }}</a> - <strong>{{ ticket.status }}</strong> - by {{ ticket.created_by }} - at {{ ticket.created_at }}</li>
        {% endif %}
        {% endfor %}
    </ul>

    <a href="/">Back to Home</a>
</body>
</html>
