<!-- templates/ticket_list.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket List</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/utils.css' %}">
</head>
<body>
    <h1>Ticket List</h1>
    
    <a href="/tickets/create/">Create New Ticket</a>
    <br><br>
    <ul>
        <h3><u>Tickets ouverts</u> : </h3>
        {% for ticket in open_tickets %}
            <div class="{{ticket.category}}">
                <li><a href="/tickets/update/{{ ticket.pk }}">{{ ticket.title }}</a> [{{ticket.category}}] - de <span class='name'>{{ ticket.created_by }}</span> | <strong>Ouvert</strong> | &#40assigné à <span class='name'>{{ ticket.assigned_to }}</span>&#41</li>
            </div>
        {% endfor %}
        <br>
        <h3><u>Tickets en cours</u> : </h3>
        {% for ticket in in_progress_tickets %}
            <div class="{{ticket.category}}">
                <li><a href="/tickets/update/{{ ticket.pk }}">{{ ticket.title }}</a> [{{ticket.category}}] - de <span class='name'>{{ ticket.created_by }}</span> | <strong>En cours</strong> | &#40assigné à <span class='name'>{{ ticket.assigned_to }}</span>&#41</li>
            </div>
        {% endfor %}
        <br>
        <h3><u>Tickets fermés</u> : </h3>
        {% for ticket in closed_tickets %}
            <div class="{{ticket.category}}">
                <li><a href="/tickets/update/{{ ticket.pk }}">{{ ticket.title }}</a> [{{ticket.category}}] - de <span class='name'>{{ ticket.created_by }}</span> | <strong>Fermé</strong></li>
            </div>
        {% endfor %}

    </ul>
<br><br><br><br>
    <a href="/">Back to Home</a>
</body>
</html>
