.hour-container {
    width: 100%;
    height: 100%;
    font-size: 10px; /* Supprime les espaces entre les carrés */
    line-height: 0;
    text-align: center;
    margin-top: 10%;
}


.square {
    width: 1.2%;       /* Largeur d'un carré */
    height: 2.5%;      /* Hauteur d'un carré */
    display: inline-block; /* Les carrés restent sur la même ligne */
    margin: 1px;       /* Espacement entre les carrés */
    padding: 0;
    background-color: red; /* Couleur du carré */
    cursor: pointer;
}


.square-hour {
    width: 1.21%;       /* Largeur d'un carré */
    height: 2.5%;      /* Hauteur d'un carré */
    display: inline-block; /* Les carrés restent sur la même ligne */
    margin: 1px;       /* Espacement entre les carrés */
    padding: 0;
    font-size: 18px;
    margin-right: 10px;
    /* margin-bottom: 10px; */
}


.square-minute {
    width: 1.292%;       /* Largeur d'un carré */
    height: 2.5%;      /* Hauteur d'un carré */
    display: inline-block; /* Les carrés restent sur la même ligne */
    margin-right: 1px;       /* Espacement entre les carrés */
    padding: 0;
    font-size: 14px;
    text-align: center;
    
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
}


.minute-header {
    padding-bottom: 10px;
}

.hour-panel {
    background-color: rgba(224, 192, 86, 0.5);
    width: 5%;
    height: 3%;
    display: none;
    pointer-events: none; /* Ignore les événements de souris */
}

.minute-container {
    padding-left: 31px;
    padding-bottom: 8px;
}

.footer {
    position: absolute;
    top: 2%;
    right: 2%;
}


.colorize-texts {
    position: absolute;
    top: 15%;
    left: 10%;
}

.text-for-color{
    cursor: pointer;
}

.last-stamps {
    position: absolute;
    background-color: rgba(227, 171, 107, 0.555);
    border-radius: 5px;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 50px;
    padding: 10px;
    top: 85%;
}

.no-bullets {
    list-style-type: none;
    padding-left: 18px;
}