/* Styles généraux */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

h1 {
    text-align: left;
    vertical-align: top;
    /* position: fixed; */
    top: 0;
    left: 5px;
}


/* Conteneur principal pour les colonnes */
.container {
    display: flex;
    height: 100vh; /* Hauteur pleine page */
}

/* Style pour les colonnes */
.colonne {
    display: flex;
    justify-content: flex-start; /* Centrer horizontalement le contenu */
    color: white; /* Couleur du texte */
    padding: 20px;
    box-sizing: border-box;
    overflow-wrap: break-word; /* Permet de casser les mots longs */
    word-break: break-word; /* Ajoute un saut de ligne automatique */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
}

/* Colonne gauche */
.gauche {
    align-items: flex-start;
    background-color: #e74c3c; /* Couleur de fond bleue */
    flex: 0 0 30%;
}

/* Colonne droite */
.droite {
    align-items: flex-start;
    background-color: #fefeee; /* Couleur de fond rouge */
    flex: 0 0 70%;
    color: #120221
}

/* Style pour les éléments qui se retrouvent en bas de la colonne
les items doivent avoir un petit espace entre eux */
.bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    padding: auto;
}
