.header {
    position: sticky;
    top: 0px;
    height: 45px;
    background: rgba(168, 143, 166, 0.9);
    color: #f1f1f1;
    text-align: center;
}

.sondage {
    position: fixed;
    top: 110px;
    padding: 1px 1px;
    /* background: rgba(32,12,43,0.9); */
    /* color: #f1f1f1; */
    text-align: center;
    border: 2px dashed rgba(0,0,0,0.2);
    padding: 10px;
    width: 300px;
    margin-bottom: 150px;
}



/* Style pour le conteneur principal */
.container {
    display: flex;  /* Affiche les colonnes l'une à côté de l'autre */
    width: 80%;    /* Prend toute la largeur de la page */
    /* padding: 20px;  Ajoute un peu de padding autour du contenu */
}

/* Style pour chaque colonne */
.colonne {
    flex: 1;            /* Les deux colonnes prennent la même largeur */
    padding: 20px;      /* Ajoute un peu de padding autour du contenu dans chaque colonne */
    display: flex;      /* Utilisation de flexbox pour gérer le positionnement interne */
    flex-direction: column;
}

/* Style spécifique pour la colonne gauche */
.gauche {
    flex: 0 0 55%;
      
}

/* Style spécifique pour la colonne droite */
.droite {
    flex: 0 0 45%;
    justify-content: flex-end;  /* Couleur de fond pour la colonne droite */
    margin-bottom: 100px;
}