<!DOCTYPE html>
<html lang="en">
<head>
  <title>Open lootbox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">

  {% load static %}
  <link rel="stylesheet" href="{% static 'Blog/lootbox/css/openning.css' %}">

  <!-- JS -->
  <script src="{% static 'Blog/lootbox/js/openning.js' %}"></script>

</head>
  <body>

    <div class="blurred-background"></div>

    <div class="container-fluid content">
      <div class="row">
        <button type="button" id="openCase" class="btn btn-info copenbtn"> OPEN </button>
        <div class="container-fluid caseOpeningArea">
          <div class="row">
            <div  class="container animationAreaItems">
              <div class="row">
                <div class="row text-center flex-nowrap mx-auto">
                  <div class="itemBoxAn"> <img src="{% static 'Blog/lootbox/box1/1.png' %}" alt="1"> </div>
                  <div class="itemBoxAn"> 2 </div>
                  <div class="itemBoxAn"> 3 </div>
                  <div class="itemBoxAn"> 4 </div>
                  <div class="itemBoxAn"> 5 </div>
                  <div class="itemBoxAn"> 6 </div>
                  <div class="itemBoxAn"> 7 </div>
                  <div class="itemBoxAn"> 8 </div>
                  <div class="itemBoxAn"> 9 </div>
                  <div class="itemBoxAn"> 10 </div>
                  <div class="itemBoxAn"> 11 </div>
                  <div class="itemBoxAn"> 12 </div>
                  <div class="itemBoxAn"> 13 </div>
                  <div class="itemBoxAn"> 14 </div>
                  <div class="itemBoxAn"> 15 </div>
                  <div class="itemBoxAn"> 16 </div>
                  <div class="itemBoxAn"> 17 </div>
                  <div class="itemBoxAn"> 18 </div>
                  <div class="itemBoxAn"> 19 </div>
                  <div class="itemBoxAn"> 20 </div>
                  <div class="itemBoxAn"> 21 </div>
                  <div class="itemBoxAn"> 22 </div>
                  <div class="itemBoxAn"> 23 </div>
                  <div class="itemBoxAn"> 24 </div>
                  <div class="itemBoxAn"> 25 </div>
                  <div class="itemBoxAn"> 26 </div>
                  <div class="itemBoxAn"> 27 </div>
                  <div class="itemBoxAn"> 28 </div>
                  <div class="itemBoxAn"> 29 </div>
                  <div class="itemBoxAn"> 30 </div>
                  <div class="itemBoxAn"> 31 </div>
                  <div class="itemBoxAn"> 32 </div>
                  <div class="itemBoxAn"> 33 </div>
                  <div class="itemBoxAn"> 34 </div>
                  <div class="itemBoxAn"> 35 </div>
                  <div class="itemBoxAn"> 36 </div>
                  <div class="itemBoxAn"> 37 </div>
                  <div class="itemBoxAn itemBoxAnW"> <img src="{% static 'Blog/lootbox/box1/1.png' %}" alt="1"> </div>  
                  <div class="itemBoxAn"> 39 </div>
                  <div class="itemBoxAn"> 40 </div>
                  <div class="itemBoxAn"> 41 </div>
                  <div class="itemBoxAn"> 42 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class="focus-area"></div>  -->
  </body>
</html>
