<!DOCTYPE html>
<html lang="en">
<head>
  <title>Open lootbox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">

  {% load static %}
  <link rel="stylesheet" href="{% static 'Blog/lootbox/css/opening.css' %}">

  <!-- JS -->
  <script src="{% static 'Blog/lootbox/js/opening.js' %}"></script>
  <script src="{% static 'Blog/js/bg.js' %}" type="module"></script>
  {% include "../bg.html" %}


</head>
  <body>
    
    <div id="data" skins="{{skin_images}}" probas="{{skin_probas}}" rarity-colors="{{rarity_colors}}"></div>

    <div class="blurred-background"></div>

    <div class="container-fluid content">
      <div class="row">
        <button type="button" id="openCase" class="btn btn-info copenbtn"> OPEN </button>
        <div class="container-fluid caseOpeningArea">
          <div class="row">
            <div  class="container animationAreaItems">
              <div class="row">
                <div class="row text-center flex-nowrap mx-auto">
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn itemBoxAnW"> </div>  
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                  <div class="itemBoxAn"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class="focus-area"></div>  -->
  </body>
</html>
