<!DOCTYPE html>
<html lang="en">
<head>
  <title>View lootbox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">

  {% load static %}
  <link rel="stylesheet" href="{% static 'Blog/lootbox/css/opening.css' %}">
  <link rel="stylesheet" href="{% static 'Blog/lootbox/css/view.css' %}" id="css_1">

  <!-- JS -->
  <script src="{% static 'Blog/lootbox/js/opening.js' %}"></script>
  <meta name="csrf-token" content="{{ csrf_token }}">
</head>


  <body>
    <div id="data" skins="{{skins}}"></div>
    <div id="box_id" box_id={{box_id}}></div>

    <h1><u>Ouverture de la lootbox</u></h1>

    

    <div class="container">
      
        <!-- Section pour la lootbox au centre -->
        <div class="lootbox">
            <img src="{{box_img}}" alt="Lootbox">
        </div>

        <!-- Section pour les items en bas -->
        <div class="items">
          {% for skin_name, skin_image in skins %}
            
            <div class="image">
              <img src="{{skin_image}}" alt="Item {{forloop.counter}}">
              <span class="text"><strong><i>{{skin_name}}</i></strong></span>
            </div>
            
             
          {% endfor %}
        </div>
    </div>

   
    
      
        <button role="button" class="button" id="button">
          Ouvrir ({{open_price}} <img src="{% static 'img/lootbox_1/coin.png' %}" width="30"/>)
        </button>


        <a href="/inventory" style="position:absolute; bottom:5%; left:1%; color:antiquewhite; " >Retour à l'inventaire</a>
  
      
  

  </body>

</html>

