<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quêtes</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- CSS -->
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/utils.css' %}">

    <link rel="stylesheet" href="{% static 'Blog/quests/css/quests.css' %}">
    <script src="{% static 'Blog/quests/js/quests.js' %}" type="module"></script>

    
    <script src="{% static 'Blog/js/bg.js' %}" type="module"></script>
    {% include "../bg.html" %}
</head>

<body>
    
    <div class="container">
        <div class="gauche">
            {% if status == 'waiting_quests' %}
                <img class="closed_book" src="{% static 'img/closed_quest_book.png' %}"/>
            {% else %}
                <img class="book" src="{% static 'img/quest_book.png' %}"/>
            {% endif %}

            <div class="quete">
                {% if status == 'is_questing' %}
                    <span class="title_quest">Votre quête</span>

                    <ul>
                        {% for objective in data %}
                            <li class="objective" current_value="{{objective.current_value}}" objective_value="{{objective.objective_value}}" achieved="{{objective.achieved}}">
                                <a href="{{objective.url}}">{{objective.sentence}} ({{objective.current_value}} / {{objective.objective_value}})</a>
                            </li>
                        {% endfor %}
                    </ul>

                {% elif status == 'has_pending_quests' %}
                    <span class="title_quest" style = "font-size:30px;">Nouvelles quêtes</span>

                    <ul>
                        {% for quest in data %}
                            <li class="pending-quest" id="{{quest.id}}">
                                Aider le dinosaure, et gagne {{quest.quantity}} {% if quest.loot_type == 'coins' %}diplodocoins{% else %}lootbox{% endif %}.
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}
                
                
                
                
            </div>


        </div>

        <div class="droite">
            <img class="dinosaur" src="{% static 'img/quest_dinosaur.png' %}"/>
            <span class="quest-text" id="quest-text">
                {{sentence}}
            </span>

            {% if ended %}
            <button class="button" id="achieved-button">Récupérer la récompense</button>
            {% endif %}


        </div>
    </div>

    <div style="position:fixed; left:5px; bottom:5px;">
        <a href="/inventory">INVENTAIRE</a> / <a href="/">HOME</a>
    </div>
    


</body>