<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enjoy Timeline</title>
    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Montserrat:wght@600&display=swap" rel="stylesheet">
    
    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/enjoy_timeline/timeline_detail.css' %}">
    
    <script src="{% static 'Blog/enjoy_timeline/timeline_detail.js' %}" type="module"></script>
    <script src="{% static 'Blog/enjoy_timeline/increment_enjoy.js' %}" type="module"></script>

    {% load custom_filters %}
</head>

{% csrf_token %}
<body>

    {% include "Blog/layout/base.html" %}


    <h1>Enjoy Timeline</h1>
    <h2>- {{hour}}h{{minute}} -</h2>
    {% if mean_note %}<h3>Note moyenne : {{mean_note}}</h3>{% endif %}
    <br>
    <ul>
        {% for timestamp in timestamps %}   
            <li>
                <div class="comment">
                    <i>(<span class="date">{{timestamp.published_date}}</span>)</i> <strong><u><a href="/user/{{timestamp.writer.id}}">{{timestamp.writer.username}}</a></strong></u> {% if timestamp.note %}<i>{{timestamp.note}}/5</i>{% endif %} : {{timestamp.comment}}
                </div>
            </li>
        {% endfor %}
    </ul>
    
    <form method="post" class="form", id="form">
        <br><br><br>
        <p>Donne tes impressions sur ce que dit enjoy à cette heure-ci !</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submit-button">Submit</button>
    </form>

    <div class="footer">
        <a href="http://www.quelleheureestilenjoy.com/" target="_blank" id="enjoy_link">Quelle Heure Est-Il Enjoy ?</a><br>
        <a href="/enjoy_timeline">Retour à la timeline</a>

    </div>

</body>