.plus {
    cursor: pointer;
    font-weight: bold;
    color: rgb(218, 208, 207);

}


.form {
    border-radius: 5px;
    text-align: center;
    right:50%;
    background-color: #ebd36760;
    padding-top: 10px;
    padding-bottom: 10px;
}